.news{
    padding: 60px 0 120px 0;
    &-filter {
        padding: 25px 0;
    }
    &-section {
        padding-top: 40px;
        .line {
            padding-top: 40px;
            @include media-breakpoint-down(sm) {
                padding-top: 20px;
            }
        }
        @include media-breakpoint-down(sm) {
            padding: 20px 15px;
        }
    }
    &-photo {
        padding: 0;
    }
    &-title {
        text-align: left;
        padding-left: 50px;
        height: 100%;
        margin-top: auto;
        margin-bottom: auto;
        h2 {
            padding-top: 15px;
            @include media-breakpoint-down(sm) {
                padding-top: 10px;
            }
        }
        @include media-breakpoint-down(lg) {
            padding-left: 30px;
        }
        @include media-breakpoint-down(md) {
            padding-left: 15px;
        }
        @include media-breakpoint-down(sm) {
            padding-right: 0;
            margin-top: inherit;
            margin-bottom: inherit;
        }
    }
}


.news-filter {
    .roundBtn {
        padding: 6px 20px;
        border: solid 1px $color-main;
        border-radius: 20px;
        color: $color-main;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        margin: 0 10px;
        cursor: pointer;
        @include media-breakpoint-down(sm) {
            width: 45%;
            margin: 0 5px;
            padding: 6px 0;
        }
    }
    .roundBtn:hover, .roundBtn-active {
        background-color: $color-main;
        color: white;
    }   
}
